[Unit]
Description=Immortal node monitoring

[Service]
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/node_exporter-1.1.2.linux-amd64/node_exporter --collector.disable-defaults --collector.netstat
Restart=always

[Install]
WantedBy=multi-user.target
