[Unit]
Description=Immortal validator monitoring

[Service]
Type=simple
ExecStar=python3 /home/ubuntu/etc/miner_exporter.py
Restart=always

[Install]
WantedBy=multi-user.target
